<form action="/bookmarks/new" method="post">
  <label for="url">
    URL
    <input type="text" name="url" placeholder="URL">
  </label>
  <label for="title">
    Title
    <input type="text" name="title" placeholder="Title">
  </label>
  <input type="submit" value="Submit">
</form>
